extends layout

block content
  script(src="/admin/public/javascripts/js-loader.js" async defer)
  h1= title
  p Welcome to #{title}
  a.btn.btn-danger(href="/admin/brapi/listmodules") List Modules
  a.btn.btn-secondary(href="/admin/brapi/dataset/list") Staging list datasets
  #app
    a.btn.btn-success(href="/admin/brapi/dataset/init" target="_blank") Initialize datasets
    .card
      .card-header
        .d-flex
          h5.me-auto.pt-2 Available Graphs
          label.p-3.pe-1.badge.bg-secondary(for="active-graph") Active graph:
            .badge.bg-primary#active-graph.ps-1 {{ graph }}
      .card-body
        v-select.p-2(:options="availableGraphs",v-model="graph" @input="saveGraph")
        table
          tr
            th Graph
            th Investigation name
            th #Studies
          tr(v-for="item of availableGraphs")
            td {{item}}
            td(v-if="graphSummary[item]" :title="graphSummary[item].investigationsDetails[graphSummary[item].investigations[0]].description")
              .badge.bg-success {{ graphSummary[item].investigations.length }}
              | {{ graphSummary[item].investigationsDetails[graphSummary[item].investigations[0]].name }}
            td.badge.bg-success(v-if="graphSummary[item]") {{graphSummary[item].studiesCount}}

