extends layout

block content
  h1= title
  h5 This page is still under construction.

  .card
    .card-header Available options
    .card-body
      a.btn.btn-danger(href="/admin/brapi") Curation
  #app
    .p-2


