doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/admin/public/stylesheets/style.css')
    body
        block content
        script(defer src="/admin/public/webpack/webpack.js",)
        script(defer src="/admin/public/webpack/cookieconsent.js")
        script(defer src="/admin/public/webpack/vue.js")